# --- Carpetas solicitadas ---
node_modules/
.env
__pycache__/
*.log
dist/
build/
.DS_Store

# --- Java & Maven (Específico para Spring Boot) ---
target/
*.class
*.jar
*.war
*.ear

# --- IDEs (IntelliJ, VS Code) ---
.idea/
*.iml
atlassian-ide-plugin.xml
.vscode/
.settings/
.project
.classpath

# --- Base de Datos & Temporales ---
*.sql.gz
*.temp
